<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Bug Catcher</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" media="all" href="static/style-ie8-and-down.css"/>
	<![endif]-->

</head>
<body>
	<nav id="navbar" class="navbar">
		<div class="container">
			<a class="logo-link" href="#">
				<img class="nav-logo" src="static/bugcatcher.png" alt="Image logo">
			</a>
			<a class="title-link" href="#">Bug Catcher</a>
		</div>
	</nav>

	<div class="container">

		<div class="default-block">
			<form class="issue-form" action="change" method="post">
				<div id="table">
					<label>
						Issue &#35;{{.Bug.Id}}&nbsp;&nbsp;						
						<input type="text" name="subject" size="80" value="{{.Bug.Subject}}"/>
					</label>
						
					<label>
						Status:
						<select name="status">
							<option value="0" {{if .Bug.Last}}{{if eq .Bug.Last.Status 0}}selected{{end}}{{end}}>Open</option>
							<option value="1" {{if .Bug.Last}}{{if eq .Bug.Last.Status 1}}selected{{end}}{{end}}>Fixed</option>
							<option value="2" {{if .Bug.Last}}{{if eq .Bug.Last.Status 2}}selected{{end}}{{end}}>Closed</option>
						</select>
					</label>

					<label>
						Who:
						<select name="who">
							{{range .Users}}
								<option value="{{.Name}}" {{if $.Bug.Last}}{{if eq $.Bug.Last.Who .Name}}selected{{end}}{{end}}>{{.Name}}</option>
							{{end}}
						</select>
					</label>

					<label>
						Comment:					
						<textarea name="comment" cols="80" rows="10"></textarea>
					</label>
					<input type="submit" value="Add"/>
					<input type="hidden" name="id" value="{{.Bug.Id}}"/>
				</div>
			</form>


			<!--<form class="issue-form" action="change" method="post">
				<div id="table">
					<div id="row">
						<div id="cell">
							Issue &#35;{{.Bug.Id}}&nbsp;&nbsp;
						</div>
						<div id="cell">
							<input type="text" name="subject" size="80" value="{{.Bug.Subject}}"/>
						</div>
					</div>
					<div id="row">
						<div id="cell">
							Status:
						</div>
						<div id="cell">
							<select name="status">
								<option value="0" {{if .Bug.Last}}{{if eq .Bug.Last.Status 0}}selected{{end}}{{end}}>Open</option>
								<option value="1" {{if .Bug.Last}}{{if eq .Bug.Last.Status 1}}selected{{end}}{{end}}>Fixed</option>
								<option value="2" {{if .Bug.Last}}{{if eq .Bug.Last.Status 2}}selected{{end}}{{end}}>Closed</option>
							</select>
						</div>
					</div>
					<div id="row">
						<div id="cell">
							Who:
						</div>
						<div id="cell">
							<select name="who">
								{{range .Users}}
									<option value="{{.Name}}" {{if $.Bug.Last}}{{if eq $.Bug.Last.Who .Name}}selected{{end}}{{end}}>{{.Name}}</option>
								{{end}}
							</select>
						</div>
					</div>
					<div id="row">
						<div id="cell">
							Comment:
						</div>
						<div id="cell">
							<textarea name="comment" cols="80" rows="10"></textarea>
						</div>
					</div>
					<div id="row">
						<div id="cell">
							<input type="submit" value="Add"/>
						</div>
					</div>
					<input type="hidden" name="id" value="{{.Bug.Id}}"/>
				</div>
			</form>-->
		</div>
	{{range .Bug.Changes}}<br/>
	{{.When}} {{.Who}}
		{{if eq .Status 0}}Open{{end}}
		{{if eq .Status 1}}Fixed{{end}}
		{{if eq .Status 2}}Closed{{end}}
		<br/>
	{{.Comment}}<br/>
	{{end}}
	</div>
</body>
</html>

