<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Bug Catcher</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" media="all" href="static/style-ie8-and-down.css"/>
	<![endif]-->

</head>
<body>
	<nav id="navbar" class="navbar">
		<div class="container">
			<a class="logo-link" href="#">
				<img class="nav-logo" src="static/bugcatcher.png" alt="Image logo">
			</a> 
			<a class="title-link" href="#">Bug Catcher</a>
		</div>
	</nav>
	<div class="container">
	
		<div class="add-issue default-block">
			{{range .Parts}}{{.Name}}
			<form class="add-issue-form" action="newBug" method="post">
				<input class="add-issue-name" type="text" name="subject" placeholder="Insert here a new issue...">
				<button class="btn-submit" type="submit">Add Issue</button>
				<input type="hidden" value="{{.Id}}" name="partId">
			</form>
		</div>

		<table class="issue-table default-block">
			{{range .Bugs}}				
			<tr>
				<td>&#35;{{.Id}}</td>
				<td>{{if .Last}}
				{{if eq .Last.Status 0}}<span class="badge-open">Open</span>{{end}}
				{{if eq .Last.Status 1}}<span class="badge-fixed">Fixed</span>{{end}}
				{{if eq .Last.Status 2}}<span class="badge-closed">Closed</span>{{end}}
				{{end}}</td>
				<td>{{if .Last}}{{.Last.Who}}{{end}}</td>
				<td><a href="bug?id={{.Id}}">{{.Subject}}</a><br/></td>
			</tr>
			{{end}}
		</table>
		{{end}}
	</div>
</body>
</html>

